<p> <% if !user_signed_in? %>
    <%= link_to "サインイン", new_user_session_path %>
    <%= link_to "登録", new_user_registration_path %>
    <% else %>
    <%= current_user.email %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete%>
    <% end %>
    
</p>
<hr/>
<h1>Home</h1>

